html[data-watanuki-theme='dracula'] {
  color-scheme: dark;
  --color-fd-background: hsl(231, 15%, 18%);
  --color-fd-foreground: hsl(60, 30%, 96%);
  --color-fd-muted: hsl(232, 14%, 14%);
  --color-fd-muted-foreground: hsl(225, 27%, 72%);
  --color-fd-popover: hsl(232, 14%, 12%);
  --color-fd-popover-foreground: hsl(60, 30%, 96%);
  --color-fd-card: hsl(232, 14%, 16%);
  --color-fd-card-foreground: hsl(60, 30%, 96%);
  --color-fd-border: hsl(232, 13%, 28%);
  --color-fd-primary: hsl(326, 100%, 74%);
  --color-fd-primary-foreground: hsl(231, 15%, 18%);
  --color-fd-secondary: hsl(232, 14%, 22%);
  --color-fd-secondary-foreground: hsl(60, 30%, 96%);
  --color-fd-accent: hsl(232, 13%, 28%);
  --color-fd-accent-foreground: hsl(60, 30%, 96%);
  --color-fd-ring: hsl(326, 100%, 74%);
}

html[data-watanuki-theme='dracula'] #nd-sidebar {
  --color-fd-secondary: hsl(232, 14%, 22%);
  --color-fd-muted: hsl(232, 14%, 14%);
}
